#dragDiv {
	position: absolute;
	z-index: 9;
	background-color: #27293c;
	border: 1px solid #d3d3d3;
	text-align: left;
	top: 5%;
	left: 5%;
	width: auto;
	height: auto;
	font-family: poppins,sans-serif;
	box-sizing: border-box;
}

#dragDivHeader {
	width: auto;
	height: auto;
	cursor: move;
	z-index: 10;
	color: white;
	font-family: poppins,sans-serif;
	text-align: left;
	background-color: #1e1e2e;
	padding: 5px;
	text-transform: uppercase;
	font-size: 1rem;
}

#dragDivTranslation{
	width: 100%;
	height: 100%;
	background-color:transparent;
	color: white;
	border-color: gray;
	overflow-y:auto;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-align: left;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	overflow-wrap: break-word;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.apex-data{
	margin: 2px;
	padding: 0 5px;
	display:inline-block;
	background-color: #464646;
	border: 1px dashed #707070;
}