#dragDiv {
    position: absolute;
    z-index: 998;
    background-color: transparent;
    text-align: left;
    top: 5%;
    left: 5%;
    width: 400px;
    max-width: 400px;
    max-height: 1000px;
    height: auto;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow-x: hidden;
}

#dragDivHeader {
    cursor: move;
    z-index: 999;
    color: white;
    font-family: 'Poppins',sans-serif;
    text-align: left;
    vertical-align: center;
    background-color:  #27293d;
    border-top-right-radius: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 1rem;
}

#dragDivTranslation {
    background-color: #27293d;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y:auto;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: none;

    overflow-wrap: break-word;
    user-select: none;

    padding: 5px;
}

.apex-data {
    margin: 2px;
    padding: 0 5px;
    display:inline-block;
    background-color: #464646;
    border: 1px dashed #707070;
}

/* For bolding using [bb] StyledText */
.bb {
    font-weight: bold;
}

/* For small text using [bb] StyledText */
.ss {
    font-size: 12px;
}

/* Icons */
/* ============================================= */

/* Canonical example: gold icon in a tooltip */
img.resource-icon {
    width: 16px !important;
    height: 16px !important;
    margin-right: 4px;
}

img.tooltip-icon-small {
    width: 12px;
    height: 12px;
}

img.tooltip-icon {
    width: 16px;
    height: 16px;
}

img.tooltip-icon-big {
    height: 24px;
    vertical-align: middle;
}

img.emoji-icon {
    /*width: 24px;*/
    height: 24px;
}

img.half-icon {
    width: 32px;
    height: 32px;
}

img.powerup {
    border: 1px solid #FFCC00;
}

img.emoji-icon-big .output-line img.emoji-icon-big {
    height: 36px;
    vertical-align: middle;
    margin: 2px 0px;
    padding: 0px 0px 2px 0px;
}

.skull-img:after {
    content: '';
    position: relative;
    height: 7px;
    width: 7px;
    background-size: contain;
    display: inline-block;
    top: -9px;
    right: 7px;
    margin-right: -8px;
}

img.tooltip-icon {
    width: 16px;
    height: 16px;
}

img.resource-icon {
    width: 16px !important;
    height: 16px !important;
    margin-right: 4px;
}

img.tooltip-icon-small {
    width: 12px;
    height: 12px;
}

img.tooltip-icon-big {
    height: 24px;
    vertical-align: middle;
}

img.icon.tooltip-icon.buff_positive {
    border: 1px solid #33ff33;
}

img.icon.tooltip-icon.buff_neutral {
    border: 1px solid rgba(64,64,64,0.25);
}

img.icon.tooltip-icon.buff_negative {
    border: 1px solid #ff3333;
}

img.emoji-icon {
    /*width: 24px;*/
    height: 24px;
}

img.half-icon {
    width: 32px;
    height: 32px;
}

.simple-tooltip {
    position: relative;
    display: inline-block;
}

.flag-icon.small {
    width: 16px;
    vertical-align: middle; /* for post-game stat */
}

.tooltiptext {
    width: 200px;
}

/* used in Wave guide mainly */
.tooltiptext.small {
    width: auto;
    min-width: 110px;
    padding: 2px !important;
    font-size: 14px !important;
}

.tooltiptext.medium {
    width: auto;
    min-width: 80px;
    padding: 10px !important;
    font-size: 14px !important;
}

.tooltiptext.narrow {
    width: 120px;
}

#output-line img.emoji-icon {
    height: 24px;
    vertical-align: middle;
    margin: 2px 0px;
    padding: 0px 0px 2px 0px;
}

.output-line img.tooltip-icon {
    width: 24px;
}

.output-line img.emoji-icon-big,
.inGameChatOutput .output-line img.emoji-icon-big {
    height: 36px;
    vertical-align: middle;
    margin: 2px 0px;
    padding: 0px 0px 2px 0px;
}

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 28px;
    line-height: 28px;
}
.flag-icon:before {
    content: "\00a0";
}
.flag-icon.flag-icon-squared {
    width: 1em;
}